<div class="container">
  <div class="well">
     <h3>{{question.subject}}</h3>
     <h5>{{question.user}} </h5>
     <p>{{question.notes}}</p>
     <button {{action 'delete' question}} class="btn btn-xs btn-default">Delete</button> <br> <br>
     {{update-question question=question update="update"}}
  </div>
  <hr>

  {{new-answer saveAnswer="saveAnswer" question=question}}

  <hr>
  {{#each question.answers as |answer|}}
    <div class="well">
        <strong>{{answer.user}}:</strong>
        <br>
        {{answer.text}}
    </div>
  {{/each}}

</div>
