<div class="container">
  <h1> Welcome to Some Question Board </h1>
  <div class="well">
     <h3>{{question.subject}}</h3>
     <h5>{{question.user}} </h5>
     <p>{{question.notes}}</p>
     <button {{action 'delete' question}}>Delete</button> <br> <br>
     {{update-question question=question update="update"}}
  </div>
  <hr>

  {{new-answer saveAnswer="saveAnswer" question=question}}

  <hr>
  {{#each question.answers as |answer|}}
    <div class="well">
        <strong>{{answer.user}}:</strong>
        <br>
        {{answer.text}}
    </div>
  {{/each}}

</div>
